[Unit]
Description=SynapseOS First Boot Setup Wizard
ConditionPathExists=!/var/lib/synapseos/firstboot.done
Before=synui.service sddm.service gdm.service getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/bin/syn-firstboot
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
