[Unit]
Description=Set root password for live ISO
ConditionPathExists=!/var/lib/.root-password-set
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo 'root:synapse' | chpasswd"
ExecStartPost=/bin/touch /var/lib/.root-password-set

[Install]
WantedBy=multi-user.target
