[Unit]
Description=SynapseOS foot terminal autostart
After=synui.service
PartOf=synui.service

[Service]
Type=simple
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=/usr/bin/sh -c 'while [ ! -S /run/user/0/wayland-0 ] && [ ! -S /run/user/0/wayland-1 ]; do sleep 0.5; done'
ExecStart=/usr/bin/sh -c 'WAYLAND_DISPLAY=$(cat /tmp/synui-display) foot -e synsh'
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical.target
